:host{
    display: flex;
    align-items: center;
    justify-content:center;
}

select,input,textarea{
    width: 100%;
    margin-top: 5px;
}

.card {
    background-color: rgb(233, 225, 255);
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    border: 1px solid rgb(212, 212, 212);
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  button{
   margin: 20px; 
  }
  .container {
    padding: 2px 16px;
  }
